<script>
const pageInfo = {
    name: {{ .page.Name }},
    controller: {{ .page.Controller }},
    action: {{ .page.Action }},
    tab: {{ .page.Tab }},
    sellerId: {{ .page.SellerID }},
    limit: {{ .page.Limit }},
}
</script>