<script>
    const pageInfo = {
        name: {{ .page.Name }},
        action: {{ .page.Action }},
        tab: {{ .page.Tab }},
        supplierId: {{ .page.SupplierID }},
        limit: {{ .page.Limit }},
    }
</script>