<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Error {{ .Status }}</title>
</head>
<body>
<h1>Error {{ .Status }}</h1>
<p>{{ .Message }}</p>
</body>
</html>