{{ define "g-styles" }}
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.css" rel="stylesheet"/>
{{ end }}
{{ define "styles" }}
    <link rel="stylesheet" href="/css/seller.css">
{{ end }}
{{ define "g-scripts" }}
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" defer></script>
    <!-- use the latest version -->
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js" defer></script>
{{ end }}
{{ define "scripts" }}
{{ end }}
{{ define "modules" }}
    <script type="module" src="/js/seller.js"></script>
{{ end }}