/**
 * Created by Teocci.
 * Author: teocci@yandex.com on 2023-Aug-15
 */
main .mode-selector {
    width: 100vw;
    height: 2rem;
    padding: 2rem;
}

.mode-selector .list-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    line-height: 2rem;
}

.mode-selector .radios-list {
    flex-flow: column;
}

.buttons-list .bl-btn {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    background-color: var(--bg-wb-color);
    border: 1px solid var(--wb-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    outline: 0; /* Remove default focus outline */
}


.buttons-list .bl-btn.active {
    background-color: var(--bg-contrast);
    border-color: var(--bg-contrast);
}

.buttons-list .bl-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed; /* Change cursor for disabled state */
}

.buttons-list .bl-btn:hover:not([disabled]) {
    background-color: var(--bg-contrast);
    border-color: var(--bg-contrast);
}

.buttons-list .bl-btn:active:not([disabled]) {
    background-color: #0039D7;
    border-color: #0039D7;
}