/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-6월-10
 */

.component-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--seller-height);
}

.cw-item {
    display: flex;
}

.info-wrap {
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    width: 80%;
    height: var(--seller-height);
}

.btn-wrap {
    flex-flow: row nowrap;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.info-wrap .logo-wrap {
    height: var(--seller-height);
}

.info-wrap .logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.info {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.info .name {
    margin: 0;
    color: var(--font-dark-color);
}

.info .trademark {
    color: var(--font-wb-color);
    font-size: 1rem;
    font-weight: bold;
}

.info .legal-address {
    color: var(--font-mild-color);
    font-size: .8rem;
    font-weight: bold;
}

.products {
    flex-grow: 1;
    max-height: calc(100vh - var(--footer-height) - 2 * var(--padding));
    padding: var(--padding);
    overflow-y: auto;
}

.btn-wrap .export-btn {
    background-color: var(--bg-wb-color);
    border: 1px solid var(--wb-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.btn-wrap .export-btn:disabled {
    opacity: .5;
}

.btn-wrap .export-btn:not([disabled]):focus {
    outline: 0;
}

.btn-wrap .export-btn:not([disabled]):hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}

.btn-wrap .export-btn:not([disabled]):active {
    background-color: #0039D7;
    border-color: #0039D7;
}

/*table .gridjs-tbody {*/
/*    display: block;*/
/*    max-height: 800px;*/
/*    width: 100%;*/
/*    overflow-y: scroll;*/
/*}*/

/*table .gridjs-thead, table .gridjs-tbody tr {*/
/*    display: table;*/
/*    width: 100%;*/
/*    table-layout: fixed;*/
/*}*/

/*table .gridjs-thead th:last-child {*/
/*    width: calc(450px - 1em)*/
/*}*/
/*table .gridjs-tbody td:last-child {*/
/*    width: calc(450px)*/
/*}*/

.gridjs-table .gridjs-th,
.gridjs-table .gridjs-td {
    padding: .5rem 1rem;
}

.identical-wrapper,
.wb-product,
.wbp-item {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.wb-product:not(:last-child):after {
    content: '';
    width: 100%;
    border: 1px solid #e5e7eb;
}

.wbp-item > .label {
    color: var(--font-dark-color);
    font-weight: bold;
}

.wbp-item > .value {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.value > .ppv-item {
    flex-grow: 1;
}

.ppv-item .label {
    color: #6b7280;
    font-weight: bold;
}

.ppv-item .value.lower {
    color: red;
    font-weight: bold;
}

