/**
 * Created by RTT.
 * Author: teocci@yandex.com on 2022-6월-10
 */
@import "variables.css";
@import "default.css";

main {
    width: 100vw;
    height: calc(100vh - var(--footer-height));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.products {
    flex-grow: 1;
    max-height: calc(100vh - var(--footer-height) - 2 * var(--padding));
    padding: var(--padding);
    overflow-y: auto;
}

.identical-wrapper,
.wb-product,
.wbp-item {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.wb-product:not(:last-child):after {
    content: '';
    width: 100%;
    border: 1px solid #e5e7eb;
}

.wbp-item > .label {
    color: var(--font-dark-color);
    font-weight: bold;
}

.wbp-item > .value {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.value > .ppv-item {
    flex-grow: 1;
}

.ppv-item .label {
    color: #6b7280;
    font-weight: bold;
}

.ppv-item .value.lower {
    color: red;
    font-weight: bold;
}

footer {
    height: var(--footer-height);
    line-height: 2rem;
    background-color: var(--bg-light-gray);
    overflow: hidden;
    user-select: none;
}

footer .copy {
    font-size: 0.8rem;
    color: var(--font-dark-color);
    text-align: center;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

